body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family:helvetica;
}

.navbar{
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    margin: 0;
    z-index: 999;
}

.navbar ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    list-style-type: none;
    background-color: white;
    margin:0px;
    padding: 10px;
}

.navbar li {
    list-style: none;
    padding: 10px;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    display: block;
}

.navbar li #t{
    border: 1;
    border-style: solid;
}

.navbar li a:hover {
    color: blue;
}

.navbar ul ul {
    position: absolute;
    top: 80%;
    display: none;
    length: 30%;
    width: auto;
}

.navbar ul ul li {
    display: block;
    text-decoration: none;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul ul li #t{
    border: 1;
    border-style: solid;
}

.navbar ul ul li a:hover {
    background-color:aliceblue;
    width: auto;
}

.rightnav {
    padding: auto;
    margin-right: right;
    display:flex;
}

.rightnav #t{
    height: 30px;
}

.rightnav .btn {
    border-style: none;
    background: none;
    cursor: pointer;
    color: #010B73;
    transition: 0,4s;
    background-color:#f0f0f0;
}
.btn a {
        text-decoration: none;
        color: white;
}

.btn:hover{
    text-align: right;
    cursor: pointer;
}

.logo{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height:60px;
    padding-left: 10px;
}

.beranda{
    border: 2;
    border-style: solid;
    border-radius: 3px;
    background-color:#f0f0f0;
    border-color: #f0f0f0;
}

.intro p{
    margin: 10px;
}

.intro-title, .intro-body{
    text-align: center;
    font-family: helvetica;
}

.cs{
    height: 280px;
    width: 280px;
   display: block;
   margin-left:auto;
   margin-right: auto;
}

.preview{
    background-color: #9BBEC8;
    border: 1px;
    border-color:#010B73;
    border-style: solid;
    text-align: center;
    margin: 0 10% 0 10%;
}

.preview-title{
    color:#164863;
}

.preview-style{
    display:inline-flex;
    list-style-type: none;
    text-align: center;
    justify-content:space-between;
}

.itbss, .bd, .me {
    height:165px;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.row2{
    display:inline-flex;
    list-style-type: none;
    text-align: center;
    justify-content:space-between;
}

.pendidikan{
    height:165px;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;    
}

.passion, .kerja {
    height:165px;
    padding: 0 0px 0 60px;
}

.row3{
    display:inline-flex;
    list-style-type: none;
    text-align: center;
    justify-content:space-between;
}

.him, .jur, .contact {
    height:165px;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
}


footer {
    background-color: #111977;
    padding: 40px 20px 40px 20px;
    font-size: 18px;
    color: rgb(235, 231, 231);
    font-family: Helvetica;
}

footer ul li {
    list-style-type: none;
}

.foot {
    display: flex;
}

.icons.wa{
    width:20px;
    fill:white;
}

.icons.ig {
    width: 20px;
    fill: white;
}

.kelompok{
    display: flex;
    padding-top: 20px;
    padding-left: 300px;
}

.login {
    padding-left: 150px;
    font-size: 20px;
    padding-left: 300px;
}

.subs {
    font-weight: lighter;
    margin-bottom: 0px;
}

.signup {
    font-size: 14px;
}

.email {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 9px;
    width: 150px;
    padding: 7px;
}

.submit {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
    padding: 7px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
}

.submit a {
    text-decoration: none;
    color: white;
}

.submit a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    border-style: none;
    padding: 8px;
    width: 60px;
}


